#header{
}
#header .container-fluid{
    max-width: 1050px;
}

.top-header{
    min-width: 250px;
    margin-top:10px;
    text-align: right;
    padding-right: 10px;
}
.top-header >ul {
    margin-left: -50px;
}
.top-header > ul >li{
    display: inline;
    list-style: none;
    margin-left: 10px;
}
.top-header > a{
    text-decoration: none;
    color: #333;
}
.top-header a:hover,.top-header a:focus{
    text-decoration: none;
    color: #42BFB0;
}
.s35label {
    font: normal normal normal 14px/1.4em Georgia,palatino,'book antiqua','palatino linotype',serif;
    transition: color 0.4s ease 0s;
    color: #333333;
    white-space: nowrap;
    display: inline-block;
}

.title_menus {
    margin-left: 10px;
    margin-right: 50px;
    text-transform: uppercase;
    font: normal normal normal 18px 'Noticia Text', serif;
}
#header .navbar-brand{
    margin-top: -15px;
}
#header .navbar-nav > li{
    border-top: solid 1px;
    border-top-color: #222 ;
    margin-right: 5px;
    text-transform: uppercase;
}
#header .navbar-nav >li:hover{
    border-top: solid 4px;
    border-top-color: #222 ;
}
#header .navbar-nav >li:hover > a{
    background-color: inherit;
    padding-top: 12px;
}

#header .navbar{
    min-height: 90px;
    padding-top: 15px;
    margin-bottom: 0px;
}
#header .navbar-nav{
    margin-left: 100px;
}
#header .navbar-nav > li > a {
    color: #222;
}
#header .icon-bar{
    background-color: #888;
}
#navbar .nav > li >a {
    padding-left: 0px;
    padding-right: 0px;
}

.dropdown-menu{
    display: none;
    list-style: none;
    background-color: #F8F8F8;
    padding: 0 5px;
    min-height: 50px;
    padding-bottom: 10px;
    font: normal normal normal 13px 'Noticia Text', serif;
    border-bottom-left-radius: 5px;
}
.dropdown-menu li{
    padding-left: 5px;
    padding-top: 10px;
    width: 172px;
    margin-top: 10px;
    border-top: solid 1px;
    line-height: 25px;
}
.dropdown-menu a{
    text-decoration: none;
    color: #333;
}
.dropdown-menu li:hover {
    border-top: solid 4px;
    padding-top: 7px;
}
.dropdown-menu li:hover a {
    text-decoration: none;
}
#header .navbar-default{
    border: none;
}


